body{
   margin: 0;
   padding: 0;
   background:#0c002b;
   font-family: sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   min-height: 100vh;
   overflow: hidden;
}

a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:#1670f0;
    padding: 130px 150px;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 20px 50px rgb(0, 0, 0, .5);
    overflow: hidden;
    font-size: 50px;
}

a::before
{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background:rgba(255,255,255,0.05);
}

a span:nth-child(1)
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0c002b,#1779ff);
    animation: animate1 1s linear infinite;
}
@keyframes animate1
{
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(100%);
    }
}

a span:nth-child(2)
{
    position: absolute;
    top:0;
    right:0;
    width: 2px;;
    height:100%;
    background: linear-gradient(to bottom, #0c002b,#1779ff);
    animation: animate2 1s linear infinite;
}
@keyframes animate2
{
    0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(100%);
    }
}
a span:nth-child(3)
{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #0c002b,#1779ff);
    animation: animate3 1s linear infinite;
    animation-delay: 1s;
}
@keyframes animate3
{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}

a span:nth-child(4)
{
    position: absolute;
    top:0;
    left:0;
    width: 2px;;
    height:100%;
    background: linear-gradient(to top, #0c002b,#1779ff);
    animation: animate4 1s linear infinite;
}
@keyframes animate4
{
    0%
    {
        transform: translateY(100%);
    }
    100%
    {
        transform: translateY(-100%);
    }
}

button
{
    color:#1670f0;
    font-weight: bolder;
    text-shadow: white;
    text-decoration: white;
    font-size: 50px;
}
#glow
{
    position: relative;
    min-width: 750px;
    height: 750;
    margin: -150px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
}
#glow:nth-child(even)
{
    transform-origin: left;
}

@keyframes colorChange
{
    0%
    {
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);
        transform: rotate(360deg);
    }
}

#glow span
{
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
}

#glow span:before
{
    content: '';
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 100%;
}

#glow span:nth-child(3n + 1):before
{
    background: rgba(134,255,0,1);
    box-shadow: 0 0 20px  rgba(134,255,0,1),
                0 0 40px  rgba(134,255,0,1),
                0 0 60px  rgba(134,255,0,1),
                0 0 80px  rgba(134,255,0,1),
                0 0  0 8px  rgba(134,255,0,.1);
}


#glow span:nth-child(3n + 2):before
{
    background: rgba(255,214,0,1);
    box-shadow: 0 0 20px  rgba(255,214,0,1),
                0 0 40px  rgba(255,214,0,1),
                0 0 60px  rgba(255,214,0,1),
                0 0 80px  rgba(255,214,0,1),
                0 0  0 8px  rgba(255,214,0,.1);
}

#glow span:nth-child(3n + 3):before
{
    background: rgba(0,226,255,1);
    box-shadow: 0 0 20px  rgba(0,226,255,1),
                0 0 40px  rgba(0,226,255,1),
                0 0 60px  rgba(0,226,255,1),
                0 0 80px  rgba(0,226,255,1),
                0 0  0 8px  rgba(0,226,255,.1);
}

#glow span:nth-child(3n + 1)
{
    animation:animate 10s alternate infinite;
}

#glow span:nth-child(3n + 2)
{
    animation:animate-reverse 3s alternate infinite;
}

#glow span:nth-child(3n + 3)
{
    animation:animate 8s alternate infinite;
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes animate-reverse
{
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}